{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="header-title pure-u-1">
  <h1>Artist - {{current_artist}}</h1>
  <a href="/artist?deleteArtist={{current_artist}}" class="pure-button button-error">Delete {{current_artist}}</a>
</div>


<div class="pure-u-1">
  <div class="form-content">

    {% for artist in artists %}
      {% if artist == current_artist %}
        <a href="/artist/{{artist}}" class="pure-button active">{{artist}}</a>
      {% else %}
        <a href="/artist/{{artist}}" class="pure-button">{{artist}}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="form-content">

<form class="pure-form" action ="http://localhost:5000/add_new_artist" method = "post">
  <fieldset>
    <legend class="pure-u-1">Add new Artist</legend>
    <input type="text" class="pure-u-1" placeholder="Artist" name="artist">
    <button type="submit" class="pure-button pure-button-primary">Add</button>
  </fieldset>
</form>
</div>

{% include "gallery.html" %}

{% endblock %}
