{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="header-title pure-u-1">
    <h2>Artist - <a href="/artist/{{current_artist}}" class="tag-link">{{current_artist}}</a></h2>
    <h2>Tags -
        {% set list_tags = current_tags.split(",") %}
        {% for tag in list_tags %}
        <a href="/tag/{{tag}}" class="tag-link">{{tag}}</a>
        {% endfor %}
    </h2>
    <h2>Color - <a href="/color?hue={{color[0]}}&sat={{color[1]}}&val={{color[2]}}" class="tag-link"> hue={{color[0]}} saturation={{color[1]}} value={{color[2]}} </a></h2>
</div>

<div class="pure-u-1">
  <img src="{{url}}" class="image-edit project-image">

</div>

<div class="pure-u-1">
    <div class="form-content">
        <form class="pure-form" action ="http://localhost:5000/edit" method = "post">
          <fieldset>
            <legend class="pure-u-1">Informations</legend>
              <label for="stacked-url">Url</label>
              <input type="text" id="stacked-url" class="pure-u-1" placeholder="Artist" name="url" value="{{url}}" readonly="">
              <label class="pure-u-1" for="stacked-artist">Artist</label>
              <select id="stacked-artist" name="current_artist">
                  <option value="{{current_artist}}">{{current_artist}}</option>
                  {% for artist in artists %}
                    <option value="{{artist}}">{{artist}}</option>
                  {% endfor %}
              </select>
              <label class="pure-u-1" for="previous-tags">Previous Tags</label>
              <input type="text" id="previous-tags" class="pure-u-1" placeholder="Tags" name="previous_tags" value="{{current_tags}}" readonly="">
              <label class="pure-u-1" for="available-tags">Available Tags</label>
              <div class="pure-u-1" id="available-tags">
              {% for tag in tags %}
                  {% if tag in current_tags %}
                    <a href="#available-tags" class="pure-button available-tag active">{{tag}}</a>
                  {% else %}
                    <a href="#available-tags" class="pure-button available-tag">{{tag}}</a>
                  {% endif %}
              {% endfor %}
              </div>
              <label class="pure-u-1" for="stacked-tags">Tags</label>
              <input type="text" id="stacked-tags" class="pure-u-1" placeholder="Tags" name="current_tags" value="{{current_tags}}">

            <button type="submit" class="pure-button pure-button-primary">Update</button>

          </fieldset>
        </form>
    </div>
</div>

<div class="pure-u-1">
    <div class="form-content">
        {% if commands %}
        <label class="pure-u-1">Open with</label>
            {% for software in commands %}
            <a href="/edit?url={{url}}&command={{commands[software]}}" class="pure-button">{{software}}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="pure-u-1">
    <div class="form-content">
        <a href="/delete?url={{url}}" class="pure-button button-error">Delete</a>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
	<span class="close">×</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

{% endblock %}
