{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="header-title pure-u-1">

    <h2> Edit Selected -
        {% for url in urls %}
        <a href="/edit?url={{url}}" class="tag-link">{{url}}</a>
        {% endfor %}
    </h2>
</div>

<div class="form-content">
    {% for url in urls %}
    <img src="{{url}}" class="image-multi">
    {% endfor %}
</div>

<div class="pure-u-1">
    <div class="form-content">
        <form class="pure-form">
          <fieldset>
              <input type="text" class="pure-u-1-2"  id="urls" value="{{urls_str}}" readonly hidden>
            <legend class="pure-u-1">Informations</legend>
              <label class="pure-u-1" for="stacked-artist">Artist</label>
              <select id="stacked-artist" name="current_artist">
                  <option value="{{current_artist}}">{{current_artist}}</option>
                  {% for artist in artists %}
                    <option value="{{artist}}">{{artist}}</option>
                  {% endfor %}
              </select>
              <button type="button" class="pure-button pure-button-primary" onclick="changeArtist()">Change Artist to Medias</button>
              <legend class="pure-u-1">Add new Artist</legend>
              <input type="text" class="pure-u-1-2" placeholder="Artist" name="artist" id="artist">
              <button type="button" class="pure-button pure-button-primary" onclick="addNewArtist()">Add New Artist to Medias</button>

              <legend class="pure-u-1">Remove Tags to Medias</legend>
              {% for current_tag in current_tags %}
                    <a href="/edit_selected?urls={{urls_str}}&remove_tag={{current_tag}}" class="pure-button button-error">{{current_tag}}</a>
              {% endfor %}
              <legend class="pure-u-1">Add Tags</legend>
              <div class="pure-u-1" id="available-tags">
              {% for tag in tags %}
                    <a href="#available-tags" class="pure-button available-tag">{{tag}}</a>
              {% endfor %}
              </div>
              <input type="text" id="stacked-tags" class="pure-u-1" placeholder="Tags" name="current_tags" value="">

            <button type="button" class="pure-button pure-button-primary" onclick="addTags()">Add Tags to Medias</button>

          </fieldset>
        </form>
    </div>
</div>

<div class="pure-u-1">
    <div class="form-content">
        <label class="pure-u-1">Open with</label>
            {% for software in softwares %}
            <a href="/edit_selected?urls={{urls_str}}&software={{software}}" class="pure-button">{{software}}</a>
            {% endfor %}
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
	<span id="close" class="close">×</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

{% endblock %}
