{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="header-title pure-u-1">
  <h1>Latest Medias</h1>
</div>


<div class="gallery pure-u-1">

  <div class="col-gallery">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 1 %}
      <article>
        <a href="#{{pictures[i]['url']}}">
          <img src="{{pictures[i]['url']}}" style="width:100%" class="project-image">
        </a>
        <div class="options">
          <a href="/edit?url={{pictures[i]['url']}}" class="edit">...</a>
          <a href="?delete={{pictures[i]['url']}}" class="delete">x</a>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-gallery">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 2 %}
      <article>
        <a href="#{{pictures[i]['url']}}">
          <img src="{{pictures[i]['url']}}" style="width:100%" class="project-image">
        </a>
        <div class="options">
          <a href="/edit?url={{pictures[i]['url']}}" class="edit">...</a>
          <a href="?delete={{pictures[i]['url']}}" class="delete">x</a>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-gallery">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 3 %}
      <article>
        <a href="#{{pictures[i]['url']}}">
          <img src="{{pictures[i]['url']}}" style="width:100%" class="project-image">
        </a>
        <div class="options">
          <a href="/edit?url={{pictures[i]['url']}}" class="edit">...</a>
          <a href="?delete={{pictures[i]['url']}}" class="delete">x</a>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-gallery">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 4 %}
      <article>
        <a href="#{{pictures[i]['url']}}">
          <img src="{{pictures[i]['url']}}" style="width:100%" class="project-image">
        </a>
        <div class="options">
          <a href="/edit?url={{pictures[i]['url']}}" class="edit">...</a>
          <a href="?delete={{pictures[i]['url']}}" class="delete">x</a>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>

</div>

<div class="pure-u-1">
  <div class="all_page" style="width:{{width_buttons}}px">
  {% for page in list_pages %}
    {% if page == current_page %}
    <a href="/?page={{page}}" class="page active">{{page}}</a>
    {% else %}
    <a href="/?page={{page}}" class="page">{{page}}</a>
    {% endif %}
  {% endfor %}
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
	<span class="close">×</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

{% endblock %}
