{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="header-title">
  <h1>SEARCH</h1>

  <p>Name : {{name}}</p>
  <p>Type : {{file_type}}</p>

</div>


<div class="row">

  <div class="column">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 1 %}
      <img src="{{pictures[i]['url']}}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 2 %}
      <img src="{{pictures[i]['url']}}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 3 %}
      <img src="{{pictures[i]['url']}}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for i in pictures %}
      {% if pictures[i]["column"] == 4 %}
      <img src="{{pictures[i]['url']}}" style="width:100%">
      {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
